@import "tailwindcss";

:root {
  --font-manrope: 'Manrope', sans-serif;
  --primary: #2463eb;
  --primary-dark: #1d4ed8;
  --background-dark: #0F172A;
  --background-light: #f6f6f8;
}

@theme {
  --font-sans: var(--font-manrope);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
}

body {
  font-family: var(--font-sans);
}
